@import "./variables.scss";

@import "../../node_modules/bootstrap/scss/bootstrap.scss";

@import "./functions.scss";
@import "./bg-wave.scss";
@import "./ultilities.scss";
@import "./toggle.scss";
#logo:hover {
    cursor: pointer;
}

.bg-fill-extra {
    background: linear-gradient(to bottom, $dark 0%,$dark 50%,$dark 50%,rgb(238, 238, 238) 50%,rgb(238, 238, 238) 100%);
}

.btn-text {
    font-family: $font-main;
    font-weight: 700;
}

.form-control {
    font-size: 0.9rem;
    border: 1.5px solid $outline;
    border-radius: $border-radius;
}

.form-control::placeholder {
    color: $outline;
    opacity: 1; /* Firefox */
}

.subtitle {
    font-family: $font-main;
    font-weight: 300;
    text-shadow: 1px 1px 2px black;
}

.card-bot {
    border-bottom: 1px solid rgba(0, 0, 0, 0.125);
    border-left: 1px solid rgba(0, 0, 0, 0.125) ;
    border-right: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 0 0 $border-radius $border-radius;
}