.switch {
    position: relative;
    display: inline-block;
    height: 40px;
    width: 200px;
    line-height: 1.5;
}
.switch input {
    display: none;
}
input:checked + .slider {
    background-color: $sun;
}
input:checked + .slider:after{
    content: "Waking Up";
}


.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: $primary;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: $border-radius;
    text-align: center;
    padding: 5px;
}

input + .slider:after{
    content: "Going to Bed";
}
.no-underline {
    text-decoration: none;
}