$enable-shadows: true;
$primary: #4190CD;
$secondary: #3D21B5;
$sun: #F8EC87;
$dark: #091D53;
$outline: #D6D6D6;
$font-main: "Roboto", Arial, Helvetica, sans-serif;
$font-sub: "Times New Roman" serif;
$border-radius: 0.5rem;