<div class="col">
    <div class="fullscreen d-flex align-items-center">
        <div class="fluid-container">
            
            <div class="d-flex justify-content-center justify-content-md-start col-lg-6 col-md-12">
                <img
                src="/images/needSleep-dark-03.svg"
                alt="Needsleep logo"
                id="logo"
                />
            </div>
        
        <h4 class="subtitle text-light mt-3 mb-4">Needsleep helps keep you conscious of your sleep and wake patterns.</h4>
        </div>
        
    </div>
    
</div>
<!--Space between left and right column-->
<div class="col-md-1"></div>
<!--logo clickable-->
<script src="/js/logo.js"></script>