<div class="fullscreen bg-light">


    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
            <a class="navbar-brand" >Dashboard</a>

            <div class="d-flex">
                <button class="btn btn-primary"><a href="/api/logout" class="text-light no-underline">Logout</a></button>
            </div>
        </div>
    </nav>
    <div class="container">
        <nav class="navbar navbar-nav navbar-expand-lg navbar-light bg-white card-bot">
            <div class="container">
                <label class="switch btn">
                    <input type="checkbox" name="type" id="bedOrWake">
                    <div class="slider"></div>
                </label>
                <div class="">
                    <form action="/api/addBed" method="POST" class="d-flex">
                        <input type="datetime-local" name="date" value="2021-01-01T00:00" class="form-control me-2" id = "date">
                        <button type="submit" class="btn btn-primary text-light">Submit</button>
                    </form>
                </div>
                <div class="d-flex">
                    <select name="mode" class="form-select" aria-label="Default select example" disabled>
                        <option value="add">Add</option>
                        <option value="1">Delete</option>
                        <option value="1">Update</option>
                        <option value="1">Filter</option>
                    </select>
                </div>

            </div>
        </nav>
        <!--
        <div class="card">
            <div class="card-body pt-4 px-4 shadow-sm">
                
                <form action="/api/addBed" method="POST">
                    <label class="switch">
                        <input type="checkbox" name="type">
                        <div class="slider"></div>
                    </label>
                    <br>
                    <input type="datetime-local" name="date" value="2018-06-12T19:30" class="form-control mb-4 p-25">
                    <br>
                    <button type="submit" class="btn btn-primary text-light">Submit</button>
                </form>
            </div>
        </div>
        -->
    </div>

    {{#if data}}
        {{#each data}}
            <li class="text-light">{{this.type}} : {{this.date}}</li>
        {{/each}}
    {{/if}}



</div>
<script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.14.1/moment.min.js"></script>
<script src="./js/entry.js"></script>
