<div class="fullscreen bg-light">


    <nav class="navbar navbar-expand-lg navbar-light">
        <div class="container">
            <a class="navbar-brand" >Dashboard</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>

            <div class="d-flex">
                <button class="btn btn-primary"><a href="/api/logout" class="text-light no-underline">Logout</a></button>
            </div>
        </div>
    </nav>

    <div class="card">
        <div class="card-body pt-4 px-4 shadow-sm">
            
            <form action="/api/addBed" method="POST">
                <label class="switch">
                    <input type="checkbox" name="type">
                    <div class="slider"></div>
                </label>
                <br>
                <input type="datetime-local" name="date" value="2018-06-12T19:30" class="form-control mb-4 p-25">
                <br>
                <button type="submit" class="btn btn-primary text-light">Submit</button>
            </form>
        </div>
    </div>

    {{#if data}}
        {{#each data}}
            <li class="text-light">{{this.type}} : {{this.date}}</li>
        {{/each}}
    {{/if}}



</div>