
<div class="fullscreen d-flex align-items-center justify-content-center bg-wave">
    <div class="container px-xl-5">
    <div class="row">
        <div class="col">
            <div class="d-flex justify-content-center justify-content-md-start">
                <img
                src="/images/needSleep-dark-03.svg"
                alt="Needsleep logo"
                class="logo-lg text-center"
                />
            </div>
            

            <h4 class="subtitle text-light mt-3">Needsleep helps you keep you conscious of your sleep and wake patterns.</h4>
        </div>

        <div class="col-md-1"></div>

        <div class="col-lg-4 col-md-6">
            <div class="card">
                <div class="card-body p-4 shadow-sm">
                    <form action="../api/signup" method="POST" class="">
                            <input type="text" name="username" class="form-control mb-4 p-2" placeholder="username">
                        <input type="email" name="email" class="form-control mb-4 p-2" placeholder="email">
                        <input type="password" name="password" class="form-control mb-4 p-2" placeholder="password">
                        <button type="submit" class="btn container-fluid btn-primary">Sign up</button>
                    </form>
                    
                </div>
            </div>
        </div>
    </div>
</div>

</div>


