<div class="fullscreen d-flex align-items-center justify-content-center bg-wave">
    <div class="container px-xl-5">
        <div class="row">
            {{> signin-up}}

            <div class="col-lg-4 col-md-6">
                <div class="card">
                    <div class="card-body pt-4 px-4 shadow-sm">
                        <form action="../api/signup" method="POST" class="">
                                <input type="text" name="username" class="form-control mb-4 p-25" placeholder="username">
                            <input type="email" name="email" class="form-control mb-4 p-25" placeholder="email">
                            <input type="password" name="password" class="form-control mb-4 p-25" placeholder="password">
                            <input type="password" name="confirm-password" class="form-control mb-4 p-25" placeholder="confirm password">
                            <button type="submit" class="btn container-fluid btn-secondary btn-text p-2 border-radius fs-5">Sign Up</button>
                            <div class="d-flex justify-content-center my-0">
                                <a href="/login" class="link-primary pt-25 fs-7">Already have an account?</a>
                            </div>
                        </form>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>


